/* src/styles/globals.css */

/* Estilos Globales */
html {
  box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el tamaño total de los elementos */
}

*,
*::before,
*::after {
  box-sizing: inherit; /* Aplicar el box-sizing inheritance a todos los elementos */
  margin: 0; /* Eliminar los márgenes por defecto */
  padding: 0; /* Eliminar el padding por defecto */
}

/* Estilos del Body */
body {
  font-family: Arial, sans-serif; /* Tipografía sencilla y amigable */
  line-height: 1.5; /* Espaciado entre líneas */
  background-color: #f0ead6; /* Color de fondo claro */
  color: #333333; /* Color de texto oscuro para mejor legibilidad */
  padding: 20px; /* Espaciado en el body para separar contenido de los bordes */
}

/* Estilo para Formularios */
form {
  max-width: 400px; /* Ancho máximo del formulario */
  margin: auto; /* Centrando el formulario en la página */
  padding: 20px; /* Espaciado interno */
  background: #ffffff; /* Color de fondo blanco */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
}

/* Estilos de Inputs */
input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%; /* Hacer los inputs y select llenen el ancho de su contenedor */
  padding: 10px; /* Espaciado interno */
  margin-bottom: 15px; /* Espacio entre inputs */
  border: 1px solid #b7c9a4; /* Bordes sutiles para inputs y selects */
  border-radius: 4px; /* Bordes redondeados para Inputs */
  outline: none; /* Eliminar el borde de enfoque por defecto */
  transition: border-color 0.3s; /* Suave transición de color de borde */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  border-color: #2e87e5; /* Cambio de color del borde al enfocar */
}

/* Estilo de Botones */
button {
  width: 100%; /* Ancho completo para hacer los botones más accesibles */
  padding: 10px; /* Espaciado interno del botón */
  background-color: #2e87e5; /* Color de fondo azul */
  color: white; /* Texto blanco */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Suave transición de color de fondo */
}

button:hover {
  background-color: #1c5eae; /* Color más oscuro cuando se pasa el mouse */
}

/* Estilo de Errores */
p {
  margin: 0; /* Eliminar márgenes por defecto */
}

.error-message {
  color: #d57e5a; /* Color de texto para mensajes de error */
}

/* Estilos de la Tabla */
table {
  width: 100%; /* Tabla llena el ancho del contenedor */
  border-collapse: collapse; /* Colapsar bordes */
  margin-top: 20px; /* Espacio superior para separar de otros elementos */
}

th,
td {
  border: 1px solid #b7c9a4; /* Bordes sutiles para celdas */
  padding: 8px; /* Espaciado interno */
  text-align: left; /* Alinear texto a la izquierda */
}

/* Estilos de Encabezados */
h1,
h2,
h3 {
  color: #333333; /* Color de texto para encabezados */
  margin-bottom: 10px; /* Espacio inferior para separación */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
